<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} payment verification {% endblock%}

{% block content %}
{% if is_paid %}
<div align="center">
<p align="center"> successfully paid </p>
<p> thankyou for supporting us </p>
<p> پرداخت موفقیت آمیز بود </p>
<p> از همراهی شما ممنونم </p>
<a href="{% url 'homepage' %}"> back </a>
</div>

{% else %}
<div align="center">
<p > Error in payment </p>
<p> maybe next time </p>
<p> پرداخت ناموفق </p>
<p> در هر صورت از همراهی شما ممنونم </p>
<a href="{% url 'homepage' %}"> back </a>
</div>


{% endif %}
{% endblock %}