<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'resume/css/bootstrap.min.css' %}">
    <style>
        body {
            background-color: #f8f9fa; /* Bootstrap background color */
        }

        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .separator {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }

        .toggle-btn {
            cursor: pointer;
        }

    </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<p>You may enter your personal info here</p>
<div class="container">
    <form method="post" action="{% url 'info' %}">
        {% csrf_token %}
        <div class="separator" style="display: flex; justify-content: space-between;">
            <h3 style="margin: 0; font-weight: bold;">Personal Information</h3>
            <a href="{% url 'user-profile' %}" style="margin: 0;">Back to profile</a>
        </div>

        {% if info_form.errors %}
        <div class="alert alert-danger">
            {{ info_form.errors }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ info_form.first_name_resume.id_for_label }}" style="width: 100%;">First name:</label>
                    {{ info_form.first_name_resume}}
                </div>
                <div class="form-group">
                    <label for="{{ info_form.marital_status.id_for_label }}" style="width: 100%;">Marital status:</label>
                    {{ info_form.marital_status}}
                </div>
                <div class="form-group">
                    <label for="{{ info_form.phone_number.id_for_label }}" style="width: 100%;">Phone number:</label>
                    {{ info_form.phone_number}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ info_form.last_name_resume.id_for_label }}" style="width: 100%;">Last name:</label>
                    {{ info_form.last_name_resume}}
                </div>
                <div class="form-group">
                    <label for="{{ info_form.user_title.id_for_label }}" style="width: 100%;">Job title:</label>
                    {{ info_form.user_title}}
                </div>
                <div class="form-group">
                    <label for="{{ info_form.date_of_birth.id_for_label }}" style="width: 100%;">Date of birth (yyyy-mm-dd):</label>
                    {{ info_form.date_of_birth}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="display: flex; flex-direction: column;">
                    <label for="{{ info_form.home_address.id_for_label }}" style="width: 100%;">Home address:</label> <br>
                    {{ info_form.home_address}}
                </div>
            </div>
        </div>
        <input type="submit" value="modify"  class="btn btn-primary">
    </form>
    <br><br><br>
</div>
</body>
</html>
