<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'resume/css/profile-styles.css' %}">
    <link rel="stylesheet" href="{% static 'resume/css/show-resume-styles.css' %}">

</head>
<body>
        <div class="cv-container">
        <div class="left-column-german">
            {% if person.fotos.first.profile_image %}
                <img class="img1" src="{{ person.fotos.first.profile_image.url }}"
                     alt="Your Photo"
                     style="width: 200px; height: 200px;"><br>
            {% else %}
                    <img class="img1" src="{% static 'resume/images/default_image.jpg' %}" alt="empty"
                     style="width: 200px; height: 200px;">
            {% endif %}
            <h1>{{person.benutzer_profil.first_name_resume|upper}} {{person.benutzer_profil.last_name_resume|upper}}</h1>
            <h1>{{person.benutzer_profil.user_title|upper}}</h1><br>
            <h3>INFO:</h3>
            <ul class="ul-type-1">
                <li>Geburtsdatum: {{person.benutzer_profil.date_of_birth}}</li>
                <li>Familienstand: {{person.benutzer_profil.get_marital_status_display}} </li>
            </ul>
            <ul class="ul-type-1">
                <li>E-MAIL: {{person.email}}</li>
                <li>HANDY: {{person.benutzer_profil.phone_number}}</li>
                <li>ADDRESS: {{person.benutzer_profil.home_address}}</li>
            </ul><br>
            <h3>QUALITÄTEN:</h3>
            <ul class="ul-type-1">
                {% for quality in person.kompetenzen.all %}
                <li>{{quality.title}}</li>
                {% endfor %}
            </ul><br>
            <h3>HOBBYS:</h3>
                <ul class="ul-type-1">
                    {% for hobby in person.hobbys.all %}
                    <li>{{hobby.title}}</li>
                    {% endfor %}
                </ul><br><br>
            {% if person.fotos.first.signature_image %}
                <img class="img2" src="{{ person.fotos.first.signature_image.url }}"
                     alt="Your Photo"
                     style="width: 200px; height: 100px;">
            {% else %}
                    <img class="img2" src="{% static 'resume/images/default_signature.jpg' %}" alt="empty"
                     style="width: 200px; height: 100px;">
            {% endif %}

        </div>
        <div class="right-column-german">
            {% if person.arbeit_erfahrung.all %}
            <h1>ARBEITSERFAHRUNG</h1>
            {% with work_experiences=person.arbeit_erfahrung.all|dictsortreversed:'start_date'%}
                {% for  work_experience in work_experiences %}
                    <h2>{{work_experience.last_position}}|{{ work_experience.company|upper}}</h2>
                    <p>From:{{work_experience.start_date}}   TO:{{work_experience.finish_date}}
                    - {{ work_experience.city}}|{{work_experience.country}}</p><br>
                    <p>{{ work_experience.description}}</p><br>
                {% endfor %}
            {% endwith %}
            {% endif %}
            {% if person.ausbildung.all %}
            <h1>AUSBILDUNG</h1>
                {% for edu in person.ausbildung.all%}
                    <h2>{{edu.degree}}|{{edu.institute}}</h2>
                    <p>{{edu.finish_date}}</p><br>
                {% endfor %}
            {% endif %}
            {% if person.fahigkeiten.all %}
            <h1>FÄHIGKEITEN</h1>
                {% for sk in person.fahigkeiten.all%}
                    <h2>{{sk.title}}|{{sk.level_of_skill}}</h2>
                    <p>{{sk.description}}</p><br>
                {% endfor %}
            {% endif %}
            {% if person.sprachen.all %}
            <h1>SPRACHEN</h1>
                {% for lang in person.sprachen.all%}
                    <h2>{{lang.title}}|{{lang.level_of_language}}</h2>
                    <p>{{edu.description}}</p><br>
                {% endfor %}
            {% endif %}
            {% if person.projekte.all %}
            <h1>PROJEKTE</h1>
                {% for pro in person.projekte.all%}
                    <h2>{{pro.title}}</h2>
                    <p>{{edu.description}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div><br>
    <script>
        // Automatically initiate download when the page loads
        window.onload = function() {
            fetch('{% url 'print-pdf-de' person.pk %}')
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'resume.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error:', error));
        };
    </script>
</body>
</html>