<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'resume/css/bootstrap.min.css' %}">
    <style>
        body {
            background-color: #f8f9fa; /* Bootstrap background color */
        }

        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .separator {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }

        .toggle-btn {
            cursor: pointer;
        }

    </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<p>You may enter your skills data here</p>
<div class="container">
    <form method="post" action="{% url 'skills' %}">
        {% csrf_token %}
        <div class="separator" style="display: flex; justify-content: space-between;">
            <h3 style="margin: 0; font-weight: bold;">Skills</h3>
            <a href="{% url 'user-profile' %}" style="margin: 0;">Back to profile</a>
        </div>

        {% if skill.errors %}
        <div class="alert alert-danger">
            {{ skill.errors }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ skill.title.id_for_label }}" style="width: 100%;">Title:</label>
                    {{ skill.title}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ skill.level_of_skill.id_for_label}}" style="width: 100%;">Level:</label>
                    {{ skill.level_of_skill }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="display: flex; flex-direction: column;">
                    <label for="{{ skill.description.id_for_label }}" style="width: 100%;">Description:</label> <br>
                    {{ skill.description}}
                </div>
            </div>
        </div>
        <input type="submit" value="submit"  class="btn btn-primary">
    </form>
    <br><br><br>
    <div style="display: flex; justify-content: space-between;">
        <h3 style="margin: 0;">skills List</h3>
        <a href="{% url 'user-profile' %}" style="margin: 0;">Back to profile</a>
    </div>
    <hr style="margin-top: 5px; margin-bottom: 5px;">
    <ul style="padding-left: 0;">
        {% for skill in skills %}
        <li style="display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 10px;">
            <div>
                {{ skill.title }}
            </div>
            <form action="{% url 'skill-delete' skill.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <br><br><br><br>
</div>
</body>
</html>
