<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'resume/css/styles.css' %}">
    {% block extracss %}
    <style>

    header {

        background-color: #20AA76;
        color: #fff;
        text-align: left;
        padding: 10px;
        display: flex; /* Use flexbox for layout */
        justify-content: space-between; /* Distribute items along the main axis */
        align-items: center; /* Center items along the cross axis */
    }


    </style>
    {% endblock %}
</head>
    <header>
        <div class="left-header">
            <a href="{% url 'homepage' %}">
            <img class='logo-img' src="{% static 'resume/images/site-logo.png' %}" alt="site-logo">
            </a>
        </div>
        <div class="right-header">
            <nav>
                {% if request.user.is_authenticated %}
                <a href="{% url 'user-profile' %}" class="active-menu">RESUME</a>
                {% endif %}
                <a href="#" class="active-menu">Buy me a Tee</a>
<!--                <a href="#" class="inactive-menu">GAME</a>-->
<!--                <a href="#" class="inactive-menu">BLOG</a>-->
<!--                <a href="#" class="inactive-menu">SHOP</a>-->
                {% if request.user.is_authenticated %}
                    <a href="#" class="active-menu">Hi {{request.user.username}}</a>
                {% else %}
                    <a href="{% url 'sign-in' %}" class="active-menu">sign in</a>
                {% endif %}
            </nav>
        </div>
    </header>
<body>
    {% block content %}{% endblock %}
</body>

</html>